<section class="section">
  <article class="media">
    <div class="media-content-z">
      <div class="content has-text-centered">
        <p>
          <div class="main-logo" style="font-family: cursive;">Pastagram</div>
        </p>
        <br><strong>〜PASTA好きのPASTA好きによるPASTA好きのための場所〜</strong>
        <br><strong>♪食べたいPASTA,伝えたいPASTAがここにある♪</strong>
        <br>
        <br> <span id="blink0593">👇👇<strong>新規登録して下さい。登録しないと詳細閲覧できません</strong>👇👇</span><script>with(blink0593)id='',style.opacity=1,setInterval(function(){style.opacity^=1},500)</script>
      </div>

      <div class="columns is-centered">
       <div class="column-plus">
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button1" %>
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button1" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>


